In [84]:
import pandas as pd
import os
import requests
import json
import numpy as np
from datetime import datetime

In [38]:
#https://www.youtube.com/watch?v=rOarSTP4SZg

In [39]:
# https://oldschool.runescape.wiki/w/RuneScape:Real-time_Prices

In [85]:
url = 'https://prices.runescape.wiki/api/v1/osrs/1h'
headers = {
    'User-Agent': 'Economic Research'
    #, 'From': 'email@gmail.com'
}

In [86]:
response = requests.get(url, headers=headers)
response

In [87]:
data = response.json()

In [88]:
data.keys()

dict_keys(['data', 'timestamp'])

In [89]:
data['data']['2']['highPriceVolume']

668226

In [122]:
item_vol_list = []
for i in data['data']:
    item_vol_list.append(data['data'][i]['highPriceVolume'])
    item_vol_list['id'] = i

TypeError: list indices must be integers or slices, not str

In [121]:
pd.DataFrame(item_vol_list)

           0
0     668226
1          2
2          2
3          4
4          2
...      ...
2382       1
2383       2
2384       3
2385       1
2386      22

[2387 rows x 1 columns]